ckpt_path: 'outputs/train/sfd_xl/checkpoints/4000000.pt' # not used for train

data:
  data_path: 'outputs/dataset/imagenet1k-latents/sdvae_f16d32_semvaebasech16_repadinov2_vitb14_reg/imagenet_train_256'
  fid_reference_file: 'outputs/ADM_npz/VIRTUAL_imagenet256_labeled.npz'

  # recommend to use default settings
  image_size: 256
  num_classes: 1000
  num_workers: 8
  latent_norm: true
  latent_sv_norm: true
  latent_multiplier: 1.0

# recommend to use default settings (we wil release codes with SD-VAE later)
vae:
  model_name: 'sdvae_f16d32'
  downsample_ratio: 16

# recommend to use default settings
model:
  model_type: LightningDiT-XL/1
  use_qknorm: true
  use_swiglu: true
  use_rope: true
  use_rmsnorm: true
  wo_shift: false
  in_chans: 48
  semantic_chans: 16   # <---- semantic chans
  semfirst_delta_t: 0.3
  semantic_weight: 2.0  # <---- semantic weight
  use_repa: true      # <---- enable repa
  repa_dino_version: "dinov2_vitb14_reg"
  repa_feat_depth: 2

# recommend to use default settings
train:
  max_steps: 4000000
  global_batch_size: 256
  global_seed: 0
  output_dir: 'outputs/train'
  exp_name: 'sfd_xl' # <---- experiment name, set as you like
  ckpt: null
  log_every: 100
  ckpt_every: 80000
optimizer:
  lr: 0.0001
  beta2: 0.999
  
# recommend to use default settings
transport:
  path_type: Linear
  prediction: velocity
  loss_weight: null
  sample_eps: null
  train_eps: null
  use_cosine_loss: true
  use_lognorm: true

# recommend to use default settings
sample:
  mode: ODE
  sampling_method: dopri5
  atol: 0.000001
  rtol: 0.001
  reverse: false
  likelihood: false
  num_sampling_steps: 250 # not work if use dopri5 sampler
  cfg_scale: 1.0 
  per_proc_batch_size: 4
  fid_num: 50000
  cfg_interval_start: 0
  timestep_shift: 0
  balanced_sampling: true

  autoguidance: true
  autoguidance_config: 'configs/sfd/autoguidance_b/inference.yaml'